<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.servlets.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.servlets.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.servlets.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/ShoppingCart.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/Profile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/EditProfile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/Details.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>Login</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddNewProduct</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>LoadAdminPage</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Admin.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/RemoveItem</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/NewItem.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/UserActivation</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryItems</servlet-name>
        <servlet-class>com.servlets.LoadCategoryItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>com.servlets.ViewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>com.servlets.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProfileChanges</servlet-name>
        <servlet-class>com.servlets.SaveProfileChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>com.servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>com.servlets.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>com.servlets.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>com.servlets.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCategory</servlet-name>
        <servlet-class>com.servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProduct</servlet-name>
        <servlet-class>com.servlets.AddNewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditItem</servlet-name>
        <servlet-class>com.servlets.EditItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>com.servlets.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUsers</servlet-name>
        <servlet-class>com.servlets.ViewAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAccountStatus</servlet-name>
        <servlet-class>com.servlets.SetAccountStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersHistory</servlet-name>
        <servlet-class>com.servlets.ViewOrdersHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActivation</servlet-name>
        <servlet-class>com.servlets.UserActivation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadAdminPage</servlet-name>
        <servlet-class>com.servlets.LoadAdminPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAdminPage</servlet-name>
        <url-pattern>/LoadAdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryItems</servlet-name>
        <url-pattern>/LoadCategoryItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProfileChanges</servlet-name>
        <url-pattern>/SaveProfileChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCategory</servlet-name>
        <url-pattern>/SearchByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProduct</servlet-name>
        <url-pattern>/AddNewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditItem</servlet-name>
        <url-pattern>/EditItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUsers</servlet-name>
        <url-pattern>/ViewAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAccountStatus</servlet-name>
        <url-pattern>/SetAccountStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersHistory</servlet-name>
        <url-pattern>/ViewOrdersHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActivation</servlet-name>
        <url-pattern>/UserActivation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>loginConstrain</display-name>
        <web-resource-collection>
            <web-resource-name>Admin.jsp</web-resource-name>
            <description/>
            <url-pattern>/Admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>adminlogin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>adminlogin</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>adminlogin</role-name>
    </security-role>
    <context-param>
        <description>The location of uploaded files</description>
        <param-name>file-upload</param-name>
        <param-value>C:\Users\KimOoO\Documents\NetBeansProjects\FurnitureVillage\web\images</param-value>
    </context-param>
</web-app>
